<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>char0</key>
		<dict>
			<key>frame</key>
			<string>{{406,0},{101,96}}</string>
			<key>offset</key>
			<string>{-26,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{70,56},{101,96}}</string>
			<key>sourceSize</key>
			<string>{101,96}</string>
		</dict>
		<key>char1</key>
		<dict>
			<key>frame</key>
			<string>{{405,101},{107,87}}</string>
			<key>offset</key>
			<string>{-18,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{64,65},{107,87}}</string>
			<key>sourceSize</key>
			<string>{107,87}</string>
		</dict>
		<key>char2</key>
		<dict>
			<key>frame</key>
			<string>{{212,128},{87,100}}</string>
			<key>offset</key>
			<string>{-12,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{84,52},{87,100}}</string>
			<key>sourceSize</key>
			<string>{87,100}</string>
		</dict>
		<key>char3</key>
		<dict>
			<key>frame</key>
			<string>{{300,101},{105,89}}</string>
			<key>offset</key>
			<string>{-14,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{66,63},{105,89}}</string>
			<key>sourceSize</key>
			<string>{105,89}</string>
		</dict>
		<key>char4</key>
		<dict>
			<key>frame</key>
			<string>{{405,188},{101,64}}</string>
			<key>offset</key>
			<string>{-12,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{70,88},{101,64}}</string>
			<key>sourceSize</key>
			<string>{101,64}</string>
		</dict>
		<key>char5</key>
		<dict>
			<key>frame</key>
			<string>{{349,392},{101,78}}</string>
			<key>offset</key>
			<string>{-12,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{70,74},{101,78}}</string>
			<key>sourceSize</key>
			<string>{101,78}</string>
		</dict>
		<key>char6</key>
		<dict>
			<key>frame</key>
			<string>{{91,436},{58,55}}</string>
			<key>offset</key>
			<string>{-12,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{113,97},{58,55}}</string>
			<key>sourceSize</key>
			<string>{58,55}</string>
		</dict>
		<key>char7</key>
		<dict>
			<key>frame</key>
			<string>{{0,435},{91,61}}</string>
			<key>offset</key>
			<string>{-18,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{80,91},{91,61}}</string>
			<key>sourceSize</key>
			<string>{91,61}</string>
		</dict>
		<key>char8</key>
		<dict>
			<key>frame</key>
			<string>{{450,420},{62,55}}</string>
			<key>offset</key>
			<string>{-11,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{109,97},{62,55}}</string>
			<key>sourceSize</key>
			<string>{62,55}</string>
		</dict>
		<key>char9</key>
		<dict>
			<key>frame</key>
			<string>{{0,246},{113,90}}</string>
			<key>offset</key>
			<string>{-12,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{58,62},{113,90}}</string>
			<key>sourceSize</key>
			<string>{113,90}</string>
		</dict>
		<key>char10</key>
		<dict>
			<key>frame</key>
			<string>{{96,336},{91,100}}</string>
			<key>offset</key>
			<string>{-13,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{80,52},{91,100}}</string>
			<key>sourceSize</key>
			<string>{91,100}</string>
		</dict>
		<key>char11</key>
		<dict>
			<key>frame</key>
			<string>{{187,332},{81,100}}</string>
			<key>offset</key>
			<string>{-14,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{90,52},{81,100}}</string>
			<key>sourceSize</key>
			<string>{81,100}</string>
		</dict>
		<key>char12</key>
		<dict>
			<key>frame</key>
			<string>{{429,252},{69,91}}</string>
			<key>offset</key>
			<string>{-12,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{102,61},{69,91}}</string>
			<key>sourceSize</key>
			<string>{69,91}</string>
		</dict>
		<key>char13</key>
		<dict>
			<key>frame</key>
			<string>{{450,343},{53,77}}</string>
			<key>offset</key>
			<string>{-15,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{118,75},{53,77}}</string>
			<key>sourceSize</key>
			<string>{53,77}</string>
		</dict>
		<key>char14</key>
		<dict>
			<key>frame</key>
			<string>{{113,251},{114,81}}</string>
			<key>offset</key>
			<string>{-15,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{57,71},{114,81}}</string>
			<key>sourceSize</key>
			<string>{114,81}</string>
		</dict>
		<key>char15</key>
		<dict>
			<key>frame</key>
			<string>{{268,329},{81,100}}</string>
			<key>offset</key>
			<string>{-12,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{90,52},{81,100}}</string>
			<key>sourceSize</key>
			<string>{81,100}</string>
		</dict>
		<key>char16</key>
		<dict>
			<key>frame</key>
			<string>{{227,228},{85,101}}</string>
			<key>offset</key>
			<string>{-12,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{86,51},{85,101}}</string>
			<key>sourceSize</key>
			<string>{85,101}</string>
		</dict>
		<key>char17</key>
		<dict>
			<key>frame</key>
			<string>{{120,150},{92,101}}</string>
			<key>offset</key>
			<string>{-13,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{79,51},{92,101}}</string>
			<key>sourceSize</key>
			<string>{92,101}</string>
		</dict>
		<key>char18</key>
		<dict>
			<key>frame</key>
			<string>{{300,0},{106,101}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{65,51},{106,101}}</string>
			<key>sourceSize</key>
			<string>{106,101}</string>
		</dict>
		<key>char19</key>
		<dict>
			<key>frame</key>
			<string>{{0,336},{96,99}}</string>
			<key>offset</key>
			<string>{-19,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{75,53},{96,99}}</string>
			<key>sourceSize</key>
			<string>{96,99}</string>
		</dict>
		<key>char20</key>
		<dict>
			<key>frame</key>
			<string>{{349,291},{80,101}}</string>
			<key>offset</key>
			<string>{-12,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{91,51},{80,101}}</string>
			<key>sourceSize</key>
			<string>{80,101}</string>
		</dict>
		<key>char21</key>
		<dict>
			<key>frame</key>
			<string>{{312,190},{85,101}}</string>
			<key>offset</key>
			<string>{-12,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{86,51},{85,101}}</string>
			<key>sourceSize</key>
			<string>{85,101}</string>
		</dict>
		<key>char22</key>
		<dict>
			<key>frame</key>
			<string>{{0,150},{120,96}}</string>
			<key>offset</key>
			<string>{-12,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{51,56},{120,96}}</string>
			<key>sourceSize</key>
			<string>{120,96}</string>
		</dict>
		<key>char23</key>
		<dict>
			<key>frame</key>
			<string>{{141,0},{159,128}}</string>
			<key>offset</key>
			<string>{-12,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,24},{159,128}}</string>
			<key>sourceSize</key>
			<string>{159,128}</string>
		</dict>
		<key>char24</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{141,150}}</string>
			<key>offset</key>
			<string>{-12,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{30,2},{141,150}}</string>
			<key>sourceSize</key>
			<string>{141,150}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>allchars.png</string>
		<key>size</key>
		<string>{512,512}</string>
		<key>textureFileName</key>
		<string>allchars.png</string>
	</dict>
</dict>
</plist>
