<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>card0</key>
		<dict>
			<key>frame</key>
			<string>{{163,0},{79,103}}</string>
			<key>offset</key>
			<string>{-2,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{88,4},{79,103}}</string>
			<key>sourceSize</key>
			<string>{79,103}</string>
		</dict>
		<key>card1</key>
		<dict>
			<key>frame</key>
			<string>{{0,53},{79,103}}</string>
			<key>offset</key>
			<string>{-2,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{88,4},{79,103}}</string>
			<key>sourceSize</key>
			<string>{79,103}</string>
		</dict>
		<key>card2</key>
		<dict>
			<key>frame</key>
			<string>{{79,53},{79,103}}</string>
			<key>offset</key>
			<string>{-2,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{88,4},{79,103}}</string>
			<key>sourceSize</key>
			<string>{79,103}</string>
		</dict>
		<key>btn</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{163,53}}</string>
			<key>offset</key>
			<string>{-4,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,54},{163,53}}</string>
			<key>sourceSize</key>
			<string>{163,53}</string>
		</dict>
		<key>expbar</key>
		<dict>
			<key>frame</key>
			<string>{{0,156},{141,30}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{26,77},{141,30}}</string>
			<key>sourceSize</key>
			<string>{141,30}</string>
		</dict>
		<key>enbar</key>
		<dict>
			<key>frame</key>
			<string>{{0,186},{140,30}}</string>
			<key>offset</key>
			<string>{-2,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{27,77},{140,30}}</string>
			<key>sourceSize</key>
			<string>{140,30}</string>
		</dict>
		<key>hpbg</key>
		<dict>
			<key>frame</key>
			<string>{{141,167},{115,27}}</string>
			<key>offset</key>
			<string>{2,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{52,80},{115,27}}</string>
			<key>sourceSize</key>
			<string>{100,12}</string>
		</dict>
		<key>hpbar</key>
		<dict>
			<key>frame</key>
			<string>{{140,194},{101,13}}</string>
			<key>offset</key>
			<string>{2,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{66,94},{101,13}}</string>
			<key>sourceSize</key>
			<string>{96,8}</string>
		</dict>
		<key>playerframe</key>
		<dict>
			<key>frame</key>
			<string>{{158,103},{94,64}}</string>
			<key>offset</key>
			<string>{3,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{73,43},{94,64}}</string>
			<key>sourceSize</key>
			<string>{80,50}</string>
		</dict>
		<key>leader</key>
		<dict>
			<key>frame</key>
			<string>{{140,207},{20,26}}</string>
			<key>offset</key>
			<string>{-5,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{147,81},{20,26}}</string>
			<key>sourceSize</key>
			<string>{20,26}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>allui.png</string>
		<key>size</key>
		<string>{256,256}</string>
		<key>textureFileName</key>
		<string>allui.png</string>
	</dict>
</dict>
</plist>
